<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<br><br><br>
<footer th:fragment="pie-pagina" class="piedepagina  py-1 " role="contentinfo" xmlns:th="http://www.thymeleaf.org">
	<div class="container">

		<ul class="redes-sociales">
			<li><a href="https://es-la.facebook.com/pg/villalpandojoyas/posts/" target="_blank"><i
						class="fa fa-facebook" aria-hidden="true"> </i> </a></li>

			<li><a href="https://twitter.com/g_dvillalpando" target="_blank"><i class="fa fa-twitter"
						aria-hidden="true"></i> </a></li>
			<li><a href="https://www.youtube.com/channel/UCHqnEWmDsJ6jYW_7ilhroRA" target="_blank"><i
						class="fa fa-youtube" aria-hidden="true"></i> </a></li>

			<li><a href="https://www.pinterest.com.mx/grupodvillalpan/" target="_blank"><i class="fa fa-pinterest"
						aria-hidden="true"></i> </a></li>

			<li><a href="https://www.instagram.com/dvillalpandojoyas/?hl=es-la" target="_blank"><i
						class="fa fa-instagram" aria-hidden="true"></i> </a></li>
		</ul>

		<p th:text="${fecha} + '© JCAH Todos los derechos reservados'"></p>

	</div>



</footer>