<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>D'Villalpando | Cumpleaños</title>

	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="css/estilos.css">
	<link href='css/font-awesome.min.css' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}" />
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/arriba.js}"></script>
</head>

<body>
	<!-- flecha ir arriba   -->
	<div class="up">
		<span class="fa fa-3x fa-arrow-circle-up"></span>
	</div>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
		<div class="container">
			<a th:href="@{/}" class="logo"> <img src="img/logo.svg" alt="Logo del sitio" width="150px">
			</a>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav ml-auto">

					<li class="nav-item "><a class=" nav-link font-italic h6" th:href="@{/}">Inicio</a></li>
					<li class="nav-item "><a class="nav-link font-italic h6" th:href="@{/nosotros}">Nosotros</a></li>
					<li class="nav-item "><a class="nav-link font-italic h6" th:href="@{/directorio}">Directorio </a>
					</li>
					<li class="nav-item "><a class="nav-link font-italic h6" th:href="@{/premio}">Avisos</a></li>
					<li class="nav-item "><a class="nav-link font-italic h6" th:href="@{/cumple}">Cumpleaños</a></li>
					<!--
					<li class="nav-item active"><a class="nav-link font-italic h6"
							th:href="@{/aniversarios}">Aniversarios</a></li>
							-->


				</ul>

			</div>
		</div>
	</nav>

	<!-- carrusel de imagenes del encabezado -->
	<section th:insert="fragments/carrusel :: mi-carrusel"></section>






	<!-- fragment de pie de pagina  -->
	<footer th:insert="fragments/footer :: pie-pagina"></footer>



	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>



</body>

</html>